
@font-face {
    font-family: 'samim';
    src: url('../fonts/Samim.eot');
    src: url('../fonts/Samim.eot?#iefix') format('Yekan-opentype'),
    url('../fonts/Samim.woff') format('woff'),
    url('../fonts/Samim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'samim_bold';
    src: url('../fonts/Samim-Bold.eot');
    src: url('../fonts/Samim-Bold.eot?#iefix') format('Yekan-opentype'),
    url('../fonts/Samim-Bold.woff') format('woff'),
    url('../fonts/Samim-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'samim_medium';
    src: url('../fonts/Samim-Medium.eot');
    src: url('../fonts/Samim-Medium.eot?#iefix') format('Yekan-opentype'),
    url('../fonts/Samim-Medium.woff') format('woff'),
    url('../fonts/Samim-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
